<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.webkit.PermissionRequest" />
    <uses-permission android:name="android.Manifest.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logokost"
        android:label="Info Kos"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfoKosAdmin"
        tools:targetApi="31">
        <activity
            android:name="com.projectfarrel.infokosadmin.view.isi.AccActivity"
            android:exported="false" />
        <activity
            android:name="com.projectfarrel.infokosadmin.view.isi.NotifActivity"
            android:exported="false" />
        <activity
            android:name="com.projectfarrel.infokosadmin.view.isi.EditPiActivity"
            android:exported="false" />
        <activity
            android:name="com.projectfarrel.infokosadmin.view.isi.DetailPiActivity"
            android:exported="false" />
        <activity
            android:name="com.projectfarrel.infokosadmin.view.isi.EditActivity"
            android:exported="false" />
        <activity
            android:name="com.projectfarrel.infokosadmin.view.isi.DetailActivity"
            android:exported="false" />
        <activity
            android:name="com.projectfarrel.infokosadmin.view.isi.AddActivity"
            android:exported="false" />
        <activity
            android:name="com.projectfarrel.infokosadmin.view.HomeActivity"
            android:exported="true"></activity>
        <activity
            android:name="com.projectfarrel.infokosadmin.view.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.projectfarrel.infokosadmin.view.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.projectfarrel.infokosadmin.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.projectfarrel.infokosadmin.MainActivity"
            android:exported="false" />
    </application>

</manifest>